<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Squint</string>
    <key>CFBundleIdentifier</key>
    <string>com.nicolas.Squint</string>
    <key>CFBundleName</key>
    <string>Squint</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>SUFeedURL</key>
    <string>https://squint.sh/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>X9E5gUp3Yg9FR/VLA1NzGa1OTx/fJE54uF3YZ6DRC8E=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
